<div class="card mb-2">
    <div class="card-img-wrapper">
        <img src="{{member.photoUrl  || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top">
        <ul class="list-inline member-icons animate text">
            <li class="list-inline-item">
                <button routerLink='/members/{{member.username}}' class="btn-sm btn-primary ml-1"><i class="fa fa-user"></i></button>
            </li>
            <li class="list-inline-item">
                <button (click)="addLike(member)" class="btn-sm btn-primary"><i class="fa fa-thumbs-up"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn-sm btn-primary"><i class="fa fa-comment"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-left mb-1"><i class="fa fa-user mr-2"></i>
            {{member.knownAs}}, {{member.age}}
        </h6>
        <p class="card-text text-center" class="fa fa-map-marker" aria-hidden="true"> {{member.city}}</p>
    </div>
</div>